DATABASE_URL="file:./dev.db"
JWT_SECRET="change-this-to-a-long-random-secret-minimum-32-characters"
CURRENT_ACADEMIC_YEAR="1405-1406"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

SEED_ADMIN_EMAIL="admin@bartarinandishe.ir"
SEED_ADMIN_USERNAME="Admin"
SEED_ADMIN_PASSWORD="141414"

# ZarinPal — برای تست از sandbox استفاده کنید
ZARINPAL_MERCHANT_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
ZARINPAL_SANDBOX="true"
